<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>

<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias officiis enim eos dolor sapiente neque aperiam!
        Ullam odio explicabo ratione neque nemo, possimus deleniti rerum, itaque soluta ut repellat? Sit corrupti fuga
        vel blanditiis incidunt quia quam corporis iste molestias provident sunt consequuntur id minus, harum esse
        placeat accusamus non nisi hic quis ab laudantium eligendi veritatis. Quaerat aliquid quae, iure non enim, sequi
        eaque, repudiandae consequuntur repellat sit tempore iusto. Vel libero esse dignissimos officia quis quas quidem
        nesciunt voluptatibus sunt necessitatibus aut, tempora, delectus soluta at earum aperiam excepturi non rem
        nostrum modi, ab nemo. Incidunt, eveniet explicabo.</p>
    <p>Website created by {{username}}</p>
</body>

</html>