<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
    {% extends 'layouts/base.html' %}
    {% block content %}
    <h1>Projects</h1>
    <p>Projects:
        {% for project in projects %}
        <di>
            <h3>{{ project.name }}</h3>
        </di>
        {% endfor %}
    </p>
    {% endblock %}
</body>

</html>